
#about-link {
	margin-left: 374px;
}

#about-me-heading, #contact-me-heading, #portfolio-page-heading {
	color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	opacity: 0.7;
	margin-bottom: 14px;
}

#about-me-heading, #contact-me-heading {
	padding-top: 20px;
}

#about-me-image {
	margin-right: 16px;
	max-height: 300px;
}

#about-me-image, #all-pages-name-block {
	float: left;
}

#about-me-image-container, #estes-nightscapes-cell, #flixster-cell {
	display: inline-block;
	position: relative;
}

#about-me-image-container #about-me-tooltip-text {
	bottom: 10px;
	left: 28px;
}

#about-me-image-container #about-me-tooltip-text, #estes-nightscapes-cell #estes-nightscapes-tooltip-text, #flixster-cell #flixster-tooltip-text {
	color: white;
	opacity: 0.9;
	padding: 4px;
	padding-left: 8px;
	padding-right: 8px;
	position: absolute;
	text-align: center;
	visibility: hidden;
	z-index: 1;
}

#about-me-image-container:hover #about-me-tooltip-text, #estes-nightscapes-cell:hover #estes-nightscapes-tooltip-text, #flixster-cell:hover #flixster-tooltip-text {
	visibility: visible;
}

#about-me-tooltip-text, #all-pages-footer, .all-pages-nav-link, .contact-form-label, #estes-nightscapes-caption, #estes-nightscapes-tooltip-text, #flixster-caption, #flixster-tooltip-text {
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
	font-size: 12px;
}

#about-me-text-container {
	float: right;
	width: 480px;
}

#all-pages-footer {
	background-color: #666666;
	border-top: 8px solid #4aaaa5;
	color: #cccccc;
	padding-top: 10px;
	text-align: center;
}

#all-pages-footer, .main-content {
	width: 960px;
}

#all-pages-footer-text {
	padding-bottom: 3px;
}

#all-pages-name-block {
	color: white;
	font-size: 26px;
	margin-bottom: 0;
	margin-left: 100px;
	padding-top: 16px;
	padding-bottom: 16px;
	text-align: center;
	width: 196px;
}

#all-pages-nav {
	padding-top: 39px;
}

.all-pages-nav-link {
	color: #aaa;
	font-size: 12px;
	padding-left: 12px;
	padding-right: 12px;
	text-decoration: none;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 99vh;
}

#clear-just-above-main, #clear-just-below-first-para {
	clear: both;
}

#contact-form-email-input, #contact-form-name-input, #contact-form-msg-input {
	margin-bottom: 12px;
	margin-top: 4px;
}

#contact-form-email-input, #contact-form-name-input {
	width: 723px;
}

.contact-form-label {
	margin-left: 1px;
}

#contact-form-msg-input {
	width: 721px;
}

#contact-link, #portfolio-link {
	border-left: solid;
	border-width: 1px;
}

#contact-page-article, #home-page-article, #portfolio-page-article {
	background-color: #ffffff;
	border-color: #dddddd;
	height: 400px;
	margin-bottom: 54px;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 24px;
	padding-left: 16px;
	padding-right: 16px;
}

#contact-page-main-content, #home-page-main-content {
	background: lightgray;
	flex: 1;
	height: 480px;
}

#estes-nightscapes-caption, #flixster-caption {
	color: white;
	opacity: 0.8;
	position: absolute;
	text-align: center;
}

#estes-nightscapes-caption {
	margin-left: 28px;
	top: 45px;
	width: 236px;
}

#estes-nightscapes-caption, #flixster-caption, #all-pages-name-block, #portfolio-rule-just-below-main, #rule-just-below-main {
	background-color: #4aaaa5;
}

#estes-nightscapes-cell #estes-nightscapes-tooltip-text {
	bottom: 16px;
	left: 66px;
	opacity: 0.5;
}

#experience-bullets-header {
	margin-bottom: 0;
	margin-right: 236px;
	margin-top: 6px;
}

#experience-bullets-header, #experience-bullets-list {
	float: right;
}

#experience-bullets-header, #experience-bullets-list, #home-page-article-first-para {
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
	font-size: 15px;
}

#experience-bullets-list {
	margin-right: 346px;
	margin-top: 8px;
}

#firs-reaching-figure, #framus-on-stage-figure {
	margin: 0;
}

#flixster-caption {
	bottom: 48px;
	margin-left: 22px;
	width: 383px;
}

#flixster-cell #flixster-tooltip-text {
	top: 8px;
	left: 134px;
}

#home-page-article-first-para {
	float: right;
	margin-bottom: 12px;
	margin-right: 26px;
	margin-top: 10px;
	max-width: 456px;
}

#portfolio-page-article {
	height: 460px;
}

#portfolio-page-heading {
	padding-top: 16px;
}

.portfolio-page-left-cell {
	margin-left: 28px;
	margin-right: 22px;
}

#portfolio-page-main-content {
	background: lightgray;
	flex: 1;
	height: 500px;
}

.portfolio-page-right-cell {
	margin-left: 22px;
}

#portfolio-page-table {
	margin-top: 16px;
}

.portfolio-page-table-cell {
	flex: 1 1 auto;
}

#portfolio-page-table-row {
	display: flex;
	flex-direction: row;
	min-width: 100%;
}

#portfolio-rule-just-below-main {
	border: none;
	margin-top: 18px;
	height: 5px;
}

#rule-just-below-main {
	border: none;
	margin: 0;
	height: 5px;
}

#rule-at-top-of-main {
	color: #cccccc;
	margin: 0;
	opacity: 0.67;
}

#rule-just-below-about-me {
	margin-bottom: 16px;
}

#rule-just-below-contact-me {
	margin-bottom: 12px;
}

#rule-just-below-portfolio-heading {
	opacity: 0.2;
}
